Package: se3-backup
Version: 2.6
Section: contrib
Priority: optional
Architecture: all
Depends: backuppc, rsync, se3 (>= 2.6)
Installed-Size: 1024
Maintainer: Plouf<plouf@sambaedu.org>
Description: Scripts d'installation de backuppc pour SambaEdu
